livekit-agents
uvicorn
langgraph
langchain_groq
pyodbc
fastapi
matplotlib
pandas
dotenv
livekit-plugins-silero
livekit-plugins-openai
reportlab
livekit-plugins-dtln

opencv-python
torch
torchvision
torchaudio


langchain_openai
ollama